.Title-Task {
    font-family: Cairo;
    font-size: 24px;
    font-weight: 600;
    line-height: 44.98px;
    text-align: right;
    margin: 3rem;
}

.dateInput {
    margin: 1rem 0rem;
    text-align: center;
}

.toTask {
    font-family: Cairo;
    font-size: 18px;
    font-weight: 700;
    line-height: 33.73px;
    text-align: right;

}

.TextAreaTask {
    height: 155px;
    border-radius: 4px;
    border-color: rgba(152, 218, 255, 1);

    background: rgba(229, 229, 229, 1);
}

.TextAreaTask:focus {
    outline: none;
    /* Remove default focus outline */
}

.task{
    border-radius: 10px;
    border: 1px solid #43BBFF;
    background: #E5E5E5;
}
.task-head{
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    margin-top: 1rem;
}
.task-title{
    font-family: Cairo;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: right;
}
.task-body{
color: #43BBFF;
font-size: 17px;
line-height: 36px;
}
ol{
    list-style-type:none;
}