@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Gulzar&display=swap');
/* Header */

*{
    margin: 0px;
    padding: 0px;
}

.Logo{
    font-family: Cairo;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000000;
    padding-top: 2px;
    line-height: 3rem;
}
.nav-item-navbar {
    margin: 0rem 2rem;
    font-family: Cairo;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
    padding-top: 2px;
    line-height: 3rem;
}
.User{
    display: flex;
    margin-right: 4rem;
}
.UserText{
    font-family: Cairo;
    font-size: 19px;
    font-weight: 400;
    color: #000000;
    padding-top: 2px;
    line-height: 37px;
}
.UserImage{
    width: 57px;
    height: 38px;

}


/* Footer */
.footer{
    height: 100px;
    background-color: #646464b7;
    padding-top: 50px;
    font-family: Cairo;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}
.main {
    font-size: 16px;
}
