@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Gulzar&display=swap');

.Search {
    height: 500px;
    display: block;
    margin-bottom: 17rem;

}

.TextTitle {
    font-family: 'Cairo';
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    padding-top: 66px;
    line-height: 57px;
    text-align: center;
}

.SearchBar {
    /* width: 829px; */
    height: 82px;
    margin: 1px 19%;
    display: flex;
    justify-content: center;
}

.icon {
    margin: 22px 15px;
}

#searchControl {
    width: 485px;
    height: 40px;
    margin-top: 15px;
    border: 0.5px solid rgba(152, 218, 255, 1);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(199, 235, 255, 0.56);
}

#Input_Select {
    width: 145px;
    height: 40px;
    border: 1 solid #ffffff00;
    border-radius: 10px;
    background: rgba(221, 221, 221, 1);
    font-family: 'Cairo';
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin: 15px;
}

.ResultOfSearch {
    text-align: center;
    padding: 15px;
}

/*============================ DetailsOfControl =========================*/
.DetailsOfControl {
    margin: 5% 14% 2%;
}

.DetailsOfControl-Title {
    font-family: Cairo;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 48.72px;
    padding: 1%;
}

.DetailsOfControl-input {
    text-align: end;
}

.DetailsOfControl-nameofcontrol {
    margin: 1rem 0rem;
    height: 54px;
    opacity: 0px;
    font-family: Cairo;
    font-size: 1rem;
    font-weight: 400;
    line-height: 33.73px;
    background: rgba(225, 225, 225, 0.63);
    text-align: end;
    border: 0px;
    border-radius: 5px;
    padding: 0px 20px;
}

.DetailsOfControl-Yeay {
    margin: 1rem 0rem;
    height: 54px;
    opacity: 0px;
    font-family: Cairo;
    font-size: 1rem;
    font-weight: 400;
    line-height: 33.73px;
    background: rgba(225, 225, 225, 0.63);
    text-align: center;
    border-radius: 5px;
    border: 0px;
    padding: 0px 20px;
}

.DetailsOfControl-Date {
    /* width: 150px; */
    height: 54px;
    opacity: 0px;
    font-family: Cairo;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.73px;
    background: rgba(225, 225, 225, 0.63);
    text-align: center;
    border-radius: 5px;
    border: 0px;
    padding: 0px 20px;
}
.TextDate{
    font-family: Cairo;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4rem;
}
.dateofcontrolText {
    margin-top: 1.5rem;
    font-family: Cairo;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 3rem;
}
@media only screen and (max-width: 768px) {
	#first {
		order: 2;
	}
	#second {
		order: 3;
	}
	#third {
		order: 1;
	}
}

/*======================= ControlMaterials =======================*/

.ControlMaterials {
    margin: 0% 14% 2%;
}

.ControlMaterials-Title {
    font-family: Cairo;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 48.72px;
    padding: 1%;
}

.MaterialsOfControl {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 20px;
}


.MaterialsDate {
    margin: 0.2rem;
    font-family: Cairo;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3rem;
    opacity: 1px;
    color: rgba(100, 100, 100, 0.71);
}

/*==================== ControlMembers =======================*/
.ControlMembers {
    margin: 0% 14% 2%;
}

.ControlMembers-Title {
    font-family: Cairo;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.ControlMembers-Groupes {
    margin: 0% 10% 2%;
}

.ControlMembers-Groupe-1 {
    margin-top: 3%;
}

.ControlMembers-Groupe-title {
    font-family: Cairo;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: right;

}

.ControlMembers-Groupe-Head {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    margin-right: 10px;
}

.ControlMembers-Groupe-Member {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    margin-right: 10px;
    margin-top: 20px;
}


.data_column {
    margin: 1rem;
    font-family: Cairo;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
    opacity: 1px;
    color: rgba(100, 100, 100, 0.71);
}

/* =============================   Tasks   ============================= */
.NoteOfControl,.TaskOfControl {
    margin: 0% 14% 2%;
}


.TaskOfControl-Title {
    font-family: Cairo;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
}

.Task-Groupes {
    margin: 0% 0% 2% 10%;
}

.box {
    border-radius: 5px ;
    opacity: 0px;
    background: rgba(229, 229, 229, 0.46);
}

.box_Title {
    opacity: 0px;
    font-family: Cairo;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
    text-align: end;
}

.nameOfMember {
    font-family: Cairo;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 3rem;
    color: rgba(114, 114, 114, 0.81);
}

.dataOfTask {
    font-family: Cairo;
    font-size: .7rem;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
}

/* ========================    Notes   ========================== */
.note-title{
    font-family: Cairo;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3rem;
}
.box_Notes {
    padding: 10px;
    border-radius: 5px;
    background: rgba(229, 229, 229, 0.46);
}

.boxNotes_Title {
    font-family: Cairo;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: end;
    padding: 2rem;
}

.nameOfMemberNotes
{
    font-family: Cairo;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 3rem;
    color: rgba(114, 114, 114, 0.81);
}
.dataofNote{
    margin: 1rem 0rem 0rem;
    font-family: Cairo;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.3rem;
    color: rgba(114, 114, 114, 0.81);
}
/*=================================*/
hr {
    width: 1126px;
    height: 0px;
    top: 550px;
    left: 155px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 3px solid rgba(168, 168, 168, 1)
}