

.form-control-input{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.lodding{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
.btn-control {
    box-shadow: none;
    width: 25%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    margin-bottom: 5rem;
}

.btn-control:hover {
    background-color: #039BE5;
}
.form-select{
    border-top-right-radius: 0;
    border-bottom-right-radius:0; 
    border-bottom-left-radius:0;
    border-top-left-radius: 0;
}
.btn{
    border-top-right-radius: 0;
    border-bottom-right-radius:0; 
    border-bottom-left-radius:1;
    border-top-left-radius: 1;
}
.return-link {
    display: inline-block;
    padding: 10px 20px;
    background-color:#5DADE2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 2rem 6rem 0rem;
    transition: background-color 0.3s ease;
}

.return-link:hover {
    background-color: #fafafb;
    color: #000;
    border: 1px solid #000;
}
