@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Gulzar&display=swap');
/* Header */
.header{
    display: flex;
    height: 66px;
    background-color: rgba(152, 218, 255, 1);
    box-shadow: 0px 4px 4px #00000025;
    padding: 0px 108px;
}
.nav{
    padding-top: 12px;
    width: 1110px;
}

.Logo{
    font-family: Cairo;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    padding-top: 2px;
    line-height: 37px;
}
.User{
    display: flex;
    text-align: end;
    padding-top: 12px;

}
.UserText{
    font-family: Cairo;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    padding-top: 2px;
    line-height: 37px;
}
.UserImage{
    width: 60px;
    height: 40px;

}


/* Footer */
.footer{
    height: 170px;
    background-color: #646464b7;
    display: grid;
    justify-items: center;
    padding-top: 50px;
    font-family: Cairo;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}
.main {
    width: 100%;
    height: 90px;
    display: flex;
}
.DivP1   {order: 6;}
.DivP2 {order: 5;}
.DivP3 {order: 4;}
.DivP4  {order: 3;}
.DivP5  {order: 2;}
.DivP6  {order: 1;}